[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/nikhil-theme"]
	path = themes/nikhil-theme
	url = https://github.com/bretthandrews/nikhil-theme.git
